body{
  color: #5B6670;
}
/* Scrollbar styles for the table-responsive container */
.table-responsive {
    max-width: 100%; /* Ensures responsiveness */
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Optional: No vertical scrolling */
  }

  /* Customize scrollbar for the container */
  .table-responsive::-webkit-scrollbar {
    height: 6px; /* Height of the horizontal scrollbar */
  }

  .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .table-responsive::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }

  .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovering over the scrollbar thumb */
  }

  /* Responsive scrollbar for mobile devices */
  @media (max-width: 768px) {
    .table-responsive::-webkit-scrollbar {
      height: 4px; /* Smaller scrollbar height for mobile */
    }

    .table-responsive::-webkit-scrollbar-thumb {
      background: #f39c12; /* Change scrollbar color for mobile */
    }
  }


  /*  end  Scrollbar styles for the table-responsive container */
  .line-center {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f39c12;
    line-height: 0.1em;
    margin: 10px 0 20px;
 }

 .line-center span {
     background:#fff;
     padding:0 10px;
 }
 .modal-dialog {
  max-width: unset !important;
}

 .my-modal{
 z-index:3000;
  left: 4rem;
  max-width: 90%;

 }
 .my-modal-small{
  z-index:3000;
   left: 30rem;
   max-width: 40%;
   overflow-y: scroll; /* Enables scrolling */
   scrollbar-width: none; /* Hides scrollbar for Firefox */
   -ms-overflow-style: none; /* Hides scrollbar for IE/Edge */
  }

  
  .my-modal-small .modal-body::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
  }
  
  .my-modal .modal-body::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
  }
  

 @media (max-width: 768px) {
  .my-modal{
     left: 0;
     max-width: 100%;
   
    }
    .my-modal-small{
      left: 0;
      max-width: 100%;
     
      }
 }

 .disabled-row {
  opacity: 0.6;
  pointer-events: none; /* Disable interactions */
}


.toggle-switch {
  width: 80px;
  height: 30px;
  background-color: #ddd;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.toggle-btn {
  width: 50%;
  height: 100%;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.toggle-btn.active {
  left: 50%;
  background-color: #28a745;
}
